---
import { getCollection, render } from "astro:content"

import Layout from "@/layouts/Layout.astro"

const articles = (await getCollection("articles")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)
---

<Layout>
  <main class="mx-auto min-h-screen w-full max-w-screen-md">
    <ul class="px-3 py-5">
      {
        articles.map(async (article) => {
          const { remarkPluginFrontmatter } = await render(article)
          const pubDate = new Date(article.data.pubDate).toLocaleString(
            "default",
            {
              month: "short",
              day: "numeric",
              year: "numeric",
            },
          )

          return (
            <Fragment>
              <li class="flex flex-col space-y-3 border-b py-5 first:pt-0 last:border-none">
                <a href={`/articles/${article.data.slug}`}>
                  <h2 class="font-serif text-4xl transition-colors hover:text-muted-foreground">
                    {article.data.title}
                  </h2>
                </a>

                <p>{article.data.description}</p>

                <div>
                  <p class="text-muted-foreground">
                    by <span class="uppercase">{article.data.author}</span>
                  </p>

                  <small>
                    {pubDate} &bull;
                    {remarkPluginFrontmatter.minutesRead}
                  </small>
                </div>
              </li>
            </Fragment>
          )
        })
      }
    </ul>
  </main>
</Layout>
