---
import { getCollection, render } from "astro:content"

import Layout from "$lib/layouts/Layout.astro"
import { getExcerpt } from "$lib/utils"

const articles = (await getCollection("blog")).sort(
  (a, b) => b.data.published.valueOf() - a.data.published.valueOf(),
)
---

<Layout>
  <main class="mx-auto min-h-screen w-full max-w-screen-md">
    <ul class="p-3 md:px-0">
      {
        articles.map(async (article) => {
          const { remarkPluginFrontmatter } = await render(article)
          const date = new Date(article.data.published).getDate()
          const month = new Date(article.data.published).toLocaleString(
            "default",
            { month: "short" },
          )
          const year = new Date(article.data.published).getFullYear()
          const excerpt = getExcerpt(article.body, 200)

          return (
            <Fragment>
              <li class="flex flex-col space-y-3 border-b py-5 first:pt-0 last:border-none">
                <a href={`/article/${article.id}`}>
                  <h2 class="font-serif text-4xl transition-colors hover:text-muted-foreground">
                    {article.data.title}
                  </h2>
                </a>

                <p>{excerpt}</p>

                <div>
                  <p class="text-muted-foreground">
                    by <span class="uppercase">{article.data.author}</span>
                  </p>

                  <small>
                    {`${month} ${date}, ${year}`} &bull; {remarkPluginFrontmatter.minutesRead}
                  </small>
                </div>
              </li>
            </Fragment>
          )
        })
      }
    </ul>
  </main>
</Layout>
